<div class="input-group">
  <%= form_tag(search_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :query, params[:query], placeholder: "Search Actors", class: 'form-control' %>
    <span class="input-group-btn">
      <%= submit_tag "Search", class: 'btn btn-success' %>
    </span>
  <% end %>
</div>

<h1>Movies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Year</th>
    <th>Director</th>
    <th>Filming Location</th>
    <th>Country</th>
    <th>Actors</th>
    <th>Average Rating</th>
  </tr>
  <% @movies.each do |movie| %>
    <tr>
      <td>
        <%= movie.name %>
      </td>
      <td>
        <%= movie.description %>
      </td>
      <td>
        <%= movie.year %>
      </td>
      <td>
        <%= movie.director %>
      </td>
      <td>
        <%= movie.filming_location %>
      </td>
      <td>
        <%= movie.country %>
      </td>
      <td>
        <ul>
          <% movie.actors.each do |actor| %>
            <li>
              <%= actor.name %>
            </li>
          <% end %>
        </ul>
      </td>
      <td>
        <%= movie.average_rating %>
      </td>
    </tr>
  <% end %>
</table>